{% extends "base.html" %}

{% load static %}

{% block titulo %}
    <title>Acerca de mí - Travel Blog</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Acerca de mí</h1></p>
    <p>Bienvenido a mi página personal. Aquí puedes encontrar información sobre mí y mis experiencias de viaje.</p>
    Mi nombre es Florencia, tengo 23 años y soy Licenciada en Trabajo Social. Hace un tiempo atrás descubí la pasión que los viajes tienen en mi vida y encontré en la programación un buen aliado para acompañarme en este camino. Con la libertad de poder trabajar donde quieras todo es un poco más sencillo.</p></p>
    <img src="/static/imagenes/about.jpg" style="max-width:500px;">

{% endblock contenido %}